<div class="message-block {{#isMine}}is-mine{{/isMine}} {{#isSystem}}is-system{{/isSystem}}" data-id="{{messageId}}">
    <div class="owner-block">
        <img class="avatar" src="{{avatarUrl}}">
    </div>
    <div class="chat-message-block">
        <div class="chat-message">
            <div class="message-text">{{message}}</div>
            <div class="chat-message-date">{{date}}</div>
        </div>
    </div>
</div>